<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>Human Facial Fear Behaviour</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body>
 
    <div>
        <img src="static\images\banner2.jpeg" class="w3-border w3-padding" alt="Kalam Sardar AI PVT LTD"
            style="width:100%">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                     
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
 
                    <h5>
 
                        This Model Predict that The Person is belongs to Fear behavior,Fear is a natural, powerful, and primitive human emotion. It involves a universal biochemical response as well as a high individual emotional response. Fear alerts us to the presence of danger or the threat of harm, whether that danger is physical or psychological.

Sometimes fear stems from real threats, but it can also originate from imagined dangers. Fear can also be a symptom of some mental health conditions including panic disorder, social anxiety disorder, phobias, and post-traumatic stress disorder (PTSD).


Fear is composed of two primary reactions to some type of perceived threat: biochemical and emotional.</br></br>
                       এই মডেলটি অনুমান করে যে ব্যক্তিটি ভয় আচরণের অন্তর্গত, ভয় একটি প্রাকৃতিক, শক্তিশালী এবং আদিম মানবিক আবেগ। এটিতে সর্বজনীন বায়োকেমিক্যাল প্রতিক্রিয়ার পাশাপাশি উচ্চ ব্যক্তিগত মানসিক প্রতিক্রিয়া জড়িত। ভয় আমাদের বিপদের উপস্থিতি বা ক্ষতির হুমকি সম্পর্কে সতর্ক করে, সেই বিপদটি শারীরিক বা মানসিক হোক না কেন।

কখনও কখনও ভয় প্রকৃত হুমকি থেকে উদ্ভূত হয় তবে এটি কল্পনাও করা বিপদ থেকে উদ্ভূত হতে পারে। ভয় আতঙ্কজনিত ব্যাধি, সামাজিক উদ্বেগজনিত ব্যাধি, ফোবিয়াস এবং ট্রমাজনিত পরবর্তী স্ট্রেস ডিসঅর্ডার (পিটিএসডি) সহ কিছু মানসিক স্বাস্থ্যের অবস্থার লক্ষণও হতে পারে।


ভয় কিছু ধরণের হুমকির বিরুদ্ধে দুটি প্রাথমিক প্রতিক্রিয়ার সমন্বয়ে গঠিত: জৈব রাসায়নিক এবং সংবেদনশীল।</br></br>
                       यह मॉडल भविष्यवाणी करता है कि व्यक्ति भय व्यवहार से संबंधित है, भय एक प्राकृतिक, शक्तिशाली और आदिम मानवीय भावना है। इसमें एक सार्वभौमिक जैव रासायनिक प्रतिक्रिया के साथ-साथ एक उच्च व्यक्तिगत भावनात्मक प्रतिक्रिया शामिल है। डर हमें खतरे की उपस्थिति या नुकसान के खतरे के प्रति सचेत करता है, चाहे वह खतरा शारीरिक हो या मनोवैज्ञानिक।

कभी-कभी डर वास्तविक खतरों से उत्पन्न होता है, लेकिन यह कल्पित खतरों से भी उत्पन्न हो सकता है। डर कुछ मानसिक स्वास्थ्य स्थितियों का लक्षण भी हो सकता है, जिसमें पैनिक डिसऑर्डर, सोशल एंग्जायटी डिसऑर्डर, फोबिया और पोस्ट-ट्रॉमेटिक स्ट्रेस डिसऑर्डर (PTSD) शामिल हैं।


डर किसी प्रकार के कथित खतरे के लिए दो प्राथमिक प्रतिक्रियाओं से बना है: जैव रासायनिक और भावनात्मक।</br></br>
                        
                    </h5>
                </div>
            </div>
        </div>
 
    </div>
</body>
 
</html>