!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>Human Facial Surprised Behaviour</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body>
 
    <div>
        <img src="static\images\banner2.jpeg" class="w3-border w3-padding" alt="Kalam Sardar AI PVT LTD"
            style="width:100%">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                     
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(153, 156, 150); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">
 
                    <h5>
 
                      This Model Predict that The Person is belongs to surprised behavior,Surprises are good and they can be bad. ... A surprise is mostly welcomed if it is well thought out and done genuinely from the heart. When surprising someone, it doesn't have to be expensive gifts. A surprise can be as simple as, doing a favor for the person or saying a poem, written just for that person.</br></br>
                      এই মডেল ভবিষ্যদ্বাণী করে যে ব্যক্তিটি অবাক আচরণের অন্তর্ভুক্ত, আশ্চর্য ভাল এবং তারা খারাপ হতে পারে। ... একটি আশ্চর্য বেশিরভাগই স্বাগত জানায় যদি এটি হৃদয় থেকে সঠিকভাবে চিন্তা করা এবং সত্যিকারেরভাবে করা হয়। কাউকে অবাক করার সময়, এটি ব্যয়বহুল উপহার হতে হবে না। অবাক করা যেমন সহজ সরল হতে পারে, ব্যক্তির পক্ষে অনুগ্রহ করা বা কবিতা বলা, কেবল সেই ব্যক্তির জন্য লেখা।</br></br>
                      यह मॉडल भविष्यवाणी करता है कि व्यक्ति आश्चर्यचकित व्यवहार से संबंधित है, आश्चर्य अच्छे हैं और वे बुरे हो सकते हैं। ... एक आश्चर्य का ज्यादातर स्वागत किया जाता है यदि इसे अच्छी तरह से सोचा गया हो और वास्तव में दिल से किया गया हो। जब किसी को आश्चर्य होता है, तो यह जरूरी नहीं कि महंगे उपहार हों। एक आश्चर्य उतना ही सरल हो सकता है, जितना उस व्यक्ति के लिए उपकार करना या केवल उस व्यक्ति के लिए लिखी गई कोई कविता कहना।</br></br>
                        
                    </h5>
                </div>
            </div>
        </div>
 
    </div>
</body>
 
</html>